<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DailyMate{% endblock %}</title>
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
    <h1>{% block header %}DailyMate{% endblock %}</h1>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'note_list' username=request.user.username %}">Notes</a></li>
                <li><a href="{% url 'dailybook_list' username=request.user.username %}">Daily book</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <form method="get" action="{% url 'search_results' %}">
                <input type="text" name="q" placeholder="Enter...">
                <button type="submit">Enter</button>
            </form>

        </ul>
    </nav>
    </header>

    <main>
        {% block content %}
            {% include 'register.html' %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 DailyMate</p>
    </footer>
</body>
</html>
