

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>{% block title %}DailyMate{% endblock %}</title>
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
            <nav>
            <div class="navbar">
              <div class="logo"><a href="{% url 'dailybook_list' username=request.user.username %}">DailyMate.</a></div>
              <ul class="menu">
                <li><a href="{% url 'dailybook_list' username=request.user.username %}">Dailybooks</a></li>
                <li><a href="{% url 'note_list' username=request.user.username %}">Notes</a></li>
                <li><a href="{% url 'search_results'%}">Search</a></li>
                <li><a href="{% url 'profile'%}">Profile</a></li>
                {% if request.path == '/profile/' %}  
                <li><a href="#contact">Contact</a></li>
                {% endif %}

                <div class="cancel-btn">
                  <i class="fas fa-times"></i>
                </div>
              </ul>
            </div>
            <div class="menu-btn">
              <i class="fas fa-bars"></i>
            </div>
          </nav>
            {% else %}
            
            {% endif %}

        </ul>

    </nav>
    <!-- <h1>{% block header %}DailyMate{% endblock %}</h1> -->

    </header>

    <main>
        {% block content %}
            {% include 'register.html' %}
        {% endblock %}
    </main>
    <!-- <footer>
        <p>&copy; 2024 DailyMate</p>
    </footer> -->
</body>
</html>
