.wrapper{
    margin: 50px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.add-box{
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}