{% extends 'base.html' %}
{% load static %}

{% block title %}Daily-books{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/note_list.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{% endblock %}

{% block content %}

<h2 style="color: #618cf8; margin-left: 50px;">Daily-books</h2>

  <form id="sortForm" method="get">
      <label for="sort_by" style="color: #618cf8; margin-left: 50px;">Sort by:</label>
      <select name="sort_by" id="sort_by">
        <option value="timestamp">Time</option>
        <option value="title">Title</option>
        <option value="emotion">Priority</option>
        <option value="emotion">Emotion</option>
      </select>
    </div>
  </form>

  <div class="wrapper">
    <li class="add-box">
      <a href="{% url 'dailybook_create' username=request.user.username %}" class="add-link">
        <div class="icon"><i class="uil uil-plus"></i></div>
        <!-- <p>Add new note</p> -->
      </a>
    </li>

    {% for dailybook in dailybooks %}
    <li>
      <h3><a href="{% url 'dailybook_detail' username=request.user.username pk=dailybook.pk %}">{{ dailybook.title|slice:":13"  }}</a>
      {% if dailybook.title|length > 13 %}
        ...
      {% endif %}</h3>
       <p><a href="{% url 'dailybook_detail' username=request.user.username pk=dailybook.pk %}">{{ dailybook.content|slice:":156"  }}</a>
      {% if dailybook.content|length > 173 %}
        ...
      {% endif %}
      </p>
      <br>
      <div class = "edit">
        <a href="{% url 'dailybook_edit' username=request.user.username pk=dailybook.pk %}">Edit dailybook</a>
      </div>
    </li>

    {% endfor %}
  </div>

  <script src="{% static 'css/note_list.js' %}"></script>

  <script>
    document.getElementById('sort_by').addEventListener('change', function() {
      document.getElementById('sortForm').submit();
    });

    const urlParams = new URLSearchParams(window.location.search);
    const sortBy = urlParams.get('sort_by');
    if (sortBy) {
      document.getElementById('sort_by').value = sortBy;
    }
  </script>

{% endblock %}
