{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/note_form.css' %}">
{% endblock %}

{% block content %}
  <!-- <p>{{ object.title }}</p>
  <p>{{ object.content }}</p>
  <p>{{ object.emotion }}</p>
  <p>{{ object.date_edit }}</p> -->
  <div class="popup-box">
    <div class="popup">
      <div class="content">
        <header>
          <p>See the dailybook</p>
          <a href="{% url 'dailybook_list' username=request.user.username%} "><i class="uil uil-times"></i></a>
        </header>
        <form method="post">
          {% csrf_token %}
          <div class="row title">
            <label for="id_title">Title</label>
            <p>{{ object.title }}</p>
            <!--<input type="text" id="id_title" name="title" spellcheck="false" value="{{ object.title }}" maxlength="100"> -->
          </div>
          <div class="row description">
            <label for="id_content">Content</label>
            {{ object.content }}
            <!-- <textarea id="id_content" name="content" spellcheck="false">{{ object.content }}</textarea> -->
          </div>
          <div class="row emotion">
            <label for="id_emotion">Emotion</label>
          </div>
            {{ object.emotion }}
            <!-- <select id="id_emotion" name="emotion">
              <option value="happy">Happy</option>
              <option value="sad">Sad</option>
              <option value="neutral">Neutral</option>
            </select> -->
          <div class="row date_edit">
            <label for="id_date_edit">Date Edit</label>
            {{ object.date_edit }}
          </div>
          <button type="button" onclick="window.location.href='{% url 'dailybook_list' username=request.user.username %}'">Back to the dailybooks</button>
        </form>
      </div>
    </div>
  </div>
  <!-- <a href="{% url 'dailybook_edit' pk=object.pk username=request.user.username %}">Edit Entry</a>
  <a href="{% url 'dailybook_delete' username=request.user.username pk=object.pk%}">Delete</a>
  <a href="{% url 'dailybook_list' username=request.user.username %}">Back to Entries</a> -->
{% endblock %}
