<!-- templates/registration/profile.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - DailyMate{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
        <!-- Move to up button -->
        <div class="scroll-button">
            <a href="#home"><i class="fas fa-arrow-up"></i></a>
          </div>
        <!--<div class="logout-button">
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div> -->
          <!-- navgaition menu -->
          <nav>
            <div class="navbar">
              <div class="logo"><a href="#">DailyMate.</a></div>
              <ul class="menu">
                <li><a href="{% url 'dailybook_list' username=request.user.username %}">Daily book</a></li>
                <li><a href="{% url 'note_list' username=request.user.username %}">Notes</a></li>
                <li><a href="{% url 'profile'%}">Profile</a></li>
                <li><a href="#contact">Contact</a></li>
                <div class="cancel-btn">
                  <i class="fas fa-times"></i>
                </div>
              </ul>
              <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="menu-btn">
              <i class="fas fa-bars"></i>
            </div>
          </nav>
      

    <!-- Home Section Start -->
    <section class="home" id="home">
      <div class="home-content">
        <div class="text">
          <div class="text-one">Hello,</div>
          <div class="text-two">I'm Note/Diary app</div>
          <div class="text-three">DailyMate</div>
        </div>
        <div class="button">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>
    </section>

    <!-- About Section Start -->
    <section class="about" id="about">
      <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
          <div class="left">
          </div>
          <div class="right">
            <div class="topic">Universal note/diary app</div>
            <p>
                The note/diary app is a versatile tool designed to help users organize their thoughts, memories, and daily activities. With its intuitive interface, users can easily create, edit, and categorize notes and entries according to their preferences. The app often includes features such as cloud synchronization, enabling seamless access across multiple devices, ensuring users can jot down their thoughts wherever they are. Additionally, many note/diary apps offer customizable security options, allowing users to safeguard their personal writings with passwords or biometric authentication. Whether used for journaling, brainstorming, or simple note-taking, these apps provide a convenient and efficient way for users to capture and reflect on their experiences.
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
      <div class="content">
        <div class="title"><span>Contact Me</span></div>
        <div class="text">
            <div class="topic">Have any complaint?</div>
            <p>
                Do you have any complaints? Please type your message.</p>
            <div class="button">
              <button>Let's Chat</button>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer Section Start -->
      <footer>
        <div class="text">
          <span>Created By <a href="#">Teo and Artem</a> | &#169; 2024 All Rights Reserved</span>
        </div>
      </footer>
  
      <script src="{% static 'css/profile.js' %}"></script>

    </body>
  </html>
  {% endblock %}
  