<!-- templates/registration/profile.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - DailyMate{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
        <!-- Move to up button -->
        <div class="scroll-button">
            <a href="{% url 'profile'%}"><i class="fas fa-arrow-up"></i></a>
          </div>
        <!--<div class="logout-button">
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div> -->
          <!-- navgaition menu -->

      

    <!-- Home Section Start -->
    <section class="home" id="home">
      <div class="home-content">
        <div class="text">
          <div class="text-one">Hello, {{ request.user.username }}</div>
          <div class="text-two">I'm Note/Diary app</div>
          <div class="text-three">DailyMate</div>
        </div>
        <div class="button">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>
    </section>

    <!-- About Section Start -->
    <section class="about" id="about">
      <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
          <div class="left">
            <img src="{% static 'css/diary.jpg' %}" alt="" />
          </div>
          <div class="right">
            <div class="topic">Universal note/diary app</div>
            <p>
                The note/diary app is a versatile tool designed to help users organize their thoughts, memories, and daily activities. With its intuitive interface, users can easily create, edit, and categorize notes and entries according to their preferences. The app often includes features such as cloud synchronization, enabling seamless access across multiple devices, ensuring users can jot down their thoughts wherever they are. Additionally, many note/diary apps offer customizable security options, allowing users to safeguard their personal writings with passwords or biometric authentication. Whether used for journaling, brainstorming, or simple note-taking, these apps provide a convenient and efficient way for users to capture and reflect on their experiences.
          </div>
        </div>
      </div>
    </section>

    
    <!-- My Skill Section Start -->
    <!-- Section Tag and Other Div will same where we need to put same CSS -->
    <section class="skills" id="skills">
      <div class="content">
        <div class="title"><span>What diary app can do?</span></div>
        <div class="skills-details">
          <div class="text">
            <div class="topic">Usefull app functions</div>
            <p>Our internet diary/note app offer unparalleled convenience and organization for users. With the ability to access notes from any device with an internet connection, users can capture thoughts, ideas, and reminders on-the-go, ensuring nothing important slips through the cracks. The syncing capabilities of our app ensure that notes are always up-to-date across all devices, providing seamless continuity and peace of mind for users. Overall, internet diary/note apps streamline the process of recording and managing information, enhancing productivity and efficiency in both personal and professional contexts.</p>
            <div class="experience">
              <div class="num">Be</div>
              <div class="exp">
                Our valuable<br />
                User
              </div>
            </div>
          </div>
          <div class="boxes">
            <div class="box">
              <div class="topic">Privacy and Security</div>
              <div class="per">✔</div>
            </div>
            <div class="box">
              <div class="topic">Sync Across Devices</div>
              <div class="per">✔</div>
            </div>
            <div class="box">
              <div class="topic">Feedback and Support</div>
              <div class="per">✔</div>
            </div>
            <div class="box">
              <div class="topic">Note Taking</div>
              <div class="per">✔</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- My Services Section Start -->
    <section class="services" id="services">
      <div class="content">
        <div class="title"><span>Our app services</span></div>
        <div class="boxes">
          <div class="box">
            <div class="icon">
              <i class="fas fa-desktop"></i>
            </div>
            <div class="topic">Notes/Diary</div>
            <p>Easy to switch between notes and diary!</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="topic">Beautiful Design</div>
            <p>Design that is pleasing to the eye!</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="topic">A popular and promising app</div>
            <p>Would you like to support our app? Recommend it to your friends!</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fab fa-android"></i>
            </div>
            <div class="topic">An app that is constantly updated</div>
            <p>The developers are making sure to support and update the app!</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-camera-retro"></i>
            </div>
            <div class="topic">Capture your day</div>
            <p>Here you can capture every day of your life and remember it at any time!</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-tablet-alt"></i>
            </div>
            <div class="topic">Cross-platform</div>
            <p>You can use our app both on your computer and on your mobile devices!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
      <div class="content">
        <div class="title"><span>Contact Me</span></div>
        <div class="text">
            <div class="topic">Have any complaint?</div>
            <p>
                Do you have any complaints? Please type your message.</p>
            <div class="button">
              <button> <a href="https://github.com/artem-andreyev">Let's Chat</a></button>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer Section Start -->
      <footer>
        <div class="text">
          <span>Created By <a href="#">Teo and Artem</a> | &#169; 2024 All Rights Reserved</span>
        </div>
      </footer>
  
      <script src="{% static 'css/profile.js' %}"></script>

  {% endblock %}
  
