{% extends 'base.html' %}
{% load static %}

{% block title %}Registration - DailyMate{% endblock %}
{% block head%}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="wrapper">
    <h2>Registration</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-box">
        <label for="id_username">Username:</label><br>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-box">
        <label for="id_password1">Password:</label><br>
        <input type="password" id="id_password1" name="password1" required>
      </div>
      <div class="input-box">
        <label for="id_password2">Confirm Password:</label><br>
        <input type="password" id="id_password2" name="password2" required>
      </div>
      <div class="input-box button">
        <button type="submit">Register Now</button>
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{% url 'login' %}">Login now</a></h3>
      </div>
       {{ form.errors }}
    </form>
  </div>

{% endblock %}
