{% extends 'base.html' %}

{% block title %}Login - DailyMate{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label><br>
        <input type="text" id="id_username" name="username"><br>
        <label for="id_password1">Password:</label><br>
        <input type="password" id="id_password1" name="password1"><br>
        <label for="id_password2">Confirm Password:</label><br>
        <input type="password" id="id_password2" name="password2"><br>
        {{ form.errors }}
        <button type="submit">Register</button>
    </form>
{% endblock %}